/* reset */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard-Regular";
}

ul {
  list-style: none;
}

.bg {
  width: 100%;
  height: 50vh;
  position: relative;
}

.bg video {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(360deg, white, gray); */
  background-color: black;
  opacity: 0.1;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  height: 16vw;
}

.inner {
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 16vw;
  align-items: center;
  justify-content: space-between;
}

.inner #title {
  font-size: 1.1em;
}

#toggle {
  width: 33px;
  height: 33px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

#toggle span {
  content: "";
  width: 15px;
  height: 1.3px;
  background-color: white;
  z-index: 2;
}

.icon img {
  width: 30px;
  height: 30px;
}

.bx-wrapper {
  padding: 5px;
}

.bx-wrapper .bx-controls-direction a {
  display: none;
}
.course {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.course li {
  width: 33%;
  height: 60px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: table;
  border-collapse: collapse;
  line-height: 10vh;
}

.course li:nth-child(3n) {
  border-right: none;
}

.course_title {
  padding: 5px;
}
